<%- include('../admin/layouts/admin-sidebar.ejs') %>
    <%- include('../admin/layouts/admin-navbar.ejs') %>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Categories </h2>
                    <p>Add, edit or delete a category</p>
                </div>
                <div>
                    <input type="text" placeholder="Search Categories" class="form-control bg-white">
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Category</label>
                                    <input type="text" placeholder="Type here" class="form-control"
                                        id="category" />
                                    <p class="text-danger" id="err_message"></p>
                                </div>
                                <div class="d-grid">
                                    <button type="button" class="btn btn-primary" onclick="addCategory()">Add category</button>
                                </div>
                            <form action="/admin/add-subcategory" method="POST" id="subcateg_form">
                                <div class=" mb-3">
                                    <label class="form-label">Category</label>
                                    <select class="form-select" name="category" id="categ">
                                        <option value="" selected>Choose Category</option>
                                        <% Categories.forEach(function(categ){ %>
                                            <option value="<%= categ._id %>">
                                                <%= categ.category %>
                                            </option>
                                            <% }) %>
                                    </select>
                                    <p class="valid_error text-danger" ></p>
                                </div>
                                <div class="mb-4">
                                    <label for="product_slug" class="form-label">Sub-Category</label>
                                    <input type="text" placeholder="Type here" class="form-control"
                                        name="subcategory" id="subcateg" />
                                    <p class="valid_error text-danger"></p>
                                </div>
                                <!-- <div class="mb-4">
                                    <label for="product_slug" class="form-label">Brand</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="" name="brand" required/>
                                </div> -->
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary">Add subcategory</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Category</th>
                                            <th>Subcategory</th>
                                            <th>Edit</th>
                                            <th>Flag</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% Categories.forEach(function(categ){ %>
                                            <% Subcategories.forEach(function(subcateg){ %>
                                                <% if(categ._id.equals(subcateg.catId)){ %>
                                                    <tr>
                                                        <td>
                                                            <%= index++ %>
                                                        </td>
                                                        <td><b>
                                                                <%= categ.category %>
                                                            </b>
                                                        </td>
                                                        <td>
                                                            <%= subcateg.subcategory %>
                                                        </td>
                                                        <td>
                                                            <a href="/admin/category-edit/<%= subcateg._id %>">
                                                                <i class="bi bi-pencil-square"
                                                                    style="color: #0d6efd; font-size: large;"
                                                                    title="edit"></i>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a href="/admin/category-flag/<%= subcateg._id %>">
                                                                <% if(subcateg.flag){ %>
                                                                    <i class="bi bi-flag-fill"
                                                                        style="color: #ffc107; font-size: large;"
                                                                        title="unflag"></i>
                                                                    <% } else { %>
                                                                        <i class="bi bi-flag-fill"
                                                                            style="color: #6c757d ; font-size: large;"
                                                                            title="flag"></i>
                                                                        <% } %>
                                                            </a>
                                                        </td>
                                                    

                                                    </tr>
                                                    <% } %>
                                                        <% }) %>
                                                            <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- .col// -->
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
        </section> <!-- content-main end// -->
        <%- include('../admin/layouts/admin-footer.ejs') %>
    <script src="/javascripts/validations/category_val.js"></script>

        <%- include('../admin/layouts/admin-script.ejs') %>
