<%- include('../admin/layouts/admin-sidebar.ejs') %>
    <%- include('../admin/layouts/admin-navbar.ejs') %>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Categories </h2>
                    <p>Add, edit or delete a category</p>
                </div>
                <div>
                    <input type="text" placeholder="Search Categories" class="form-control bg-white">
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <form action="/admin/categories/add" method="POST">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Category</label>
                                    <input type="text" placeholder="Type here" class="form-control" id=""
                                        name="category" required />
                                </div>
                                <div class="mb-4">
                                    <label for="product_slug" class="form-label">Sub-Category</label>
                                    <input type="text" placeholder="Type here" class="form-control" id=""
                                        name="subcategory" required />
                                </div>
                                <!-- <div class="mb-4">
                                    <label for="product_slug" class="form-label">Brand</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="" name="brand" required/>
                                </div> -->
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary">Create category</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Category</th>
                                            <th>Subcategory</th>
                                            <th>Edit</th>
                                            <th>Flag</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% Categories.forEach(function(categ){ %>
                                            <% Subcategories.forEach(function(subcateg){ %>
                                                <% if(categ._id.equals(subcateg.cat_id)){ %> 
                                                    <tr>
                                                        <td>
                                                            <%= index++ %>
                                                        </td>
                                                        <td><b>
                                                                <%= categ.category %>
                                                            </b>
                                                        </td>
                                                        <td>
                                                            <%= subcateg.subcategory %>
                                                        </td>
                                                        <td>
                                                            <form action="/admin/categories/edit/<%= subcateg._id %>"
                                                                method="post">
                                                                <button type="submit" class="btn  btn-secondary" title="edit"
                                                                    style="width: 50px;">
                                                                    <i class="bi bi-pencil-square"></i>
                                                                </button>
                                                            </form>
                                                        </td>
                                                        <td>
                                                            <form action="/admin/categories/flag/<%= subcateg._id %>"
                                                                method="post">
                                                                <% if(subcateg.flag){ %> 
                                                                <button type="submit" class="btn  btn-warning" title="unflag"
                                                                    style="width: 50px;">
                                                                    <i class="bi bi-flag-fill"></i></button>
                                                                    <% } else { %>
                                                                        <button type="submit" class="btn  btn-info" title="flag"
                                                                    style="width: 50px;">
                                                                    <i class="bi bi-flag-fill"></i></button> 
                                                                    <% } %> 
                                                            </form>
                                                        </td>
                                                        <td>
                                                            <form action="/admin/categories/delete/<%= subcateg._id %>"
                                                                method="post">
                                                                <button type="submit" class="btn  btn-danger" title="delete"
                                                                    style="width: 50px;"><i
                                                                        class="bi bi-trash-fill"></i></button>
                                                            </form>
                                                        </td>

                                                    </tr>
                                                    <% } %>
                                                        <% }) %>
                                                            <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- .col// -->
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
        </section> <!-- content-main end// -->
        <%- include('../admin/layouts/admin-footer.ejs') %>