<%- include('../admin/layouts/admin-sidebar.ejs') %>
    <%- include('../admin/layouts/admin-navbar.ejs') %>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Categories </h2>
                    <p>Add, edit or delete a category</p>
                </div>
                <div>
                    <input type="text" placeholder="Search Categories" class="form-control bg-white">
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <form action="/admin/categories/add" method="POST">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Category</label>
                                    <input type="text" placeholder="Type here" class="form-control" id=""
                                        name="category" required />
                                </div>
                                <div class="mb-4">
                                    <label for="product_slug" class="form-label">Sub-Category</label>
                                    <input type="text" placeholder="Type here" class="form-control" id=""
                                        name="subcategory" required />
                                </div>
                                <!-- <div class="mb-4">
                                    <label for="product_slug" class="form-label">Brand</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="" name="brand" required/>
                                </div> -->
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary">Create category</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Category</th>
                                            <th>Subcategory</th>
                                            <th>Edit</th>
                                            <th>Flag</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% Categories.forEach(function(categ){ %>
                                            <% Subcategories.forEach(function(subcateg){ %>
                                                <% if(categ._id.equals(subcateg.cat_id)){ %>
                                                    <tr>
                                                        <td>
                                                            <%= index++ %>
                                                        </td>
                                                        <td><b>
                                                                <%= categ.category %>
                                                            </b>
                                                        </td>
                                                        <td>
                                                            <%= subcateg.subcategory %>
                                                        </td>
                                                        <td>
                                                            <a href="/admin/categories/edit/<%= subcateg._id %>">
                                                                <i class="bi bi-pencil-square"
                                                                    style="color: #0d6efd; font-size: large;"
                                                                    title="edit"></i>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a href="/admin/categories/flag/<%= subcateg._id %>">
                                                                <% if(subcateg.flag){ %>
                                                                    <i class="bi bi-flag-fill"
                                                                        style="color: #ffc107; font-size: large;"
                                                                        title="unflag"></i>
                                                                    <% } else { %>
                                                                        <i class="bi bi-flag-fill"
                                                                            style="color: #6c757d ; font-size: large;"
                                                                            title="flag"></i>
                                                                        <% } %>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a href="/admin/categories/delete/<%= subcateg._id %>"
                                                                data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                                <i class="bi bi-trash-fill"
                                                                    style="color: #cf0000; font-size: large;"
                                                                    title="delete"></i></button>
                                                            </a>
                                                            <!-- Modal -->
                                
                                                        </td>
                                                    

                                                    </tr>
                                                    <% } %>
                                                        <% }) %>
                                                            <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- .col// -->
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
        </section> <!-- content-main end// -->
        <%- include('../admin/layouts/admin-footer.ejs') %>