<%- include('../admin/layouts/admin-sidebar.ejs') %>
    <%- include('../admin/layouts/admin-navbar.ejs') %>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Coupons List</h2>
                    <p>List of all coupons.</p>
                </div>
                <div>
                    <a href="/admin/coupon-add" class="btn btn-primary btn-sm rounded">Add New</a>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                            <select class="form-select" name="category">
                                <option selected>Choose Category</option>
                            </select>
                        </div>
                        <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                            <select class="form-select" name="subcategory">
                                <option value="" selected>Choose Subcategory</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-6">
                            <input type="date" value="02.05.2021" class="form-control" name="date">
                        </div>
                        <div class="col-md-2 col-6">
                            <select class="form-select" name="status">
                                <option selected>Status</option>
                                <option value="Active">Active</option>
                                <option value="Disabled">Disabled</option>
                                <option value="Out of Stock">Out of Stock</option>
                                <option value="ShowAll">Show all</option>

                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Validity</th>
                                    <th>Coupon code</th>
                                    <th>Discount</th>
                                    <th>Min Bill</th>
                                    <th>Max Discount</th>
                                    <th>Usage</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% coupons.forEach(function(coupon){ %>
                    <% let date = coupon.validity.toString().slice(4, 15) %>
                                    <% let usage = coupon.usedUsers.length %>
                                    <tr>
                                        <td><%= index++ %></td>
                                        <td><%= date %></td>
                                        <td><%= coupon.code %></td>
                                        <td><%= coupon.discount %>%</td>
                                        <td>$<%= coupon.minBill %></td>
                                        <td>$<%= coupon.maxDiscount %></td>
                                        <td><%= usage %></td>
                                        <td>
                                            <% if(coupon.block){ %>
                                                <span class="badge rounded-pill alert-warning">Blocked</span>
                                                <% } else if(coupon.validity < new Date()) { %>
                                                    <span class="badge rounded-pill alert-danger">Expired</span>
                                                    <% } else { %>
                                                        <span class="badge rounded-pill alert-success">Active</span>
                                                        <% } %>
                                        </td>
                                        <td>
                                            <a href="/admin/coupon-block/<%= coupon._id %>">
                                                <% if(coupon.block){ %>
                                                    <button type="submit" class="btn btn-warning" style="width: 50px;" title="enable">
                                                        <i class="bi bi-flag-fill"></i></button>
                                                    <% } else { %>
                                                        <button type="submit" class="btn  btn-info" title="disable"
                                                            style="width: 50px; opacity: 30%;">
                                                            <i class="bi bi-flag-fill"></i></button>
                                                        <% } %>
                                            </a>
                                            <a href="/admin/coupon-edit/<%= coupon._id %>">
                                                <button class="btn btn-info" style="width: 50px" title="edit"><i class="bi bi-pencil-square"></i></button>
                                            </a>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- card end// -->
            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <% if(before){ %>
                            <li class="page-item"><a class="page-link" href="/admin/coupons?page=<%= before.page %>&limit=<%= before.limit %>">&lt;</a></li>
                            <li class="page-item"><a class="page-link" href="/admin/coupons?page=<%= before.page %>&limit=<%= before.limit %>"><%= before.page %></a></li>
                        <% } %>
                        <% if(current){ %>
                            <li class="page-item active"><span class="page-link"><%= current.page %></span></li>
                        <% } %>
                        <% if(after){ %>
                            <li class="page-item"><a class="page-link" href="/admin/coupons?page=<%= after.page %>&limit=<%= after.limit %>"><%= after.page %></a></li>
                            <li class="page-item"><a class="page-link" href="/admin/coupons?page=<%= after.page %>&limit=<%= after.limit %>">&gt;</a></li>
                        <% } %>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->

        <%- include('../admin/layouts/admin-footer.ejs') %>
        <%- include('../admin/layouts/admin-script.ejs') %>
