<%- include('../admin/layouts/admin-sidebar.ejs') %>
    <%- include('../admin/layouts/admin-navbar.ejs') %>
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Edit Coupon</h2>
                    </div>
                </div>
                <form action="/admin/edit-coupon-form/<%= coupon._id %>" method="post">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-4">
                                <label for="coupon_code" class="form-label">Coupon code</label>
                                <input type="text" placeholder="code" class="form-control" name="coupon" style="text-transform: uppercase;" value="<%= coupon.code %>" required/>
                            </div>
                            <div class="row gx-3">
                                <div class="col-md-4  mb-3">
                                    <label for="product_sku" class="form-label">Discount</label>
                                    <input type="text" placeholder="percentage" class="form-control" name="discount" value="<%= coupon.discount %>" required/>
                                </div>
                                <div class="col-md-4  mb-3">
                                    <label for="product_color" class="form-label">Min Order</label>
                                    <input type="text" placeholder="amount" class="form-control" name="minBill" value="<%= coupon.minBill %>" required/>
                                </div>
                                <div class="col-md-4  mb-3">
                                    <label for="product_size" class="form-label">Max Discount</label>
                                    <input type="text" placeholder="amount" class="form-control" name="maxDiscount" value="<%= coupon.maxDiscount %>" required/>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="product_brand" class="form-label">Validity Upto</label>
                                <input type="date" placeholder="date" class="form-control" name="validity" value="<%= coupon.validity %>" required/>
                            </div>
                            <button type="submit" class="btn btn-primary rounded font-sm mr-5 text-white hover-up">Save</button>
                        </div>
                    </div> <!-- card end// -->
                </div>
                </form>
            </div>
        </section>
        <%- include('../admin/layouts/admin-footer.ejs') %>