<%- include('../admin/layouts/admin-sidebar.ejs') %>
    <%- include('../admin/layouts/admin-navbar.ejs') %>
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Edit Product</h2>
                    </div>
                </div>
                <form class="row" action="/admin/products/edit-product/<%= Product._id %>" method="POST" enctype="multipart/form-data">
                    <div class="card mb-4 col-md-6">
                        <div class="card-header">
                            <h4>Basic</h4>
                        </div>
                        <div class="card-body">
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Product title</label>
                                <input type="text" placeholder="Type here" class="form-control" id="" name="productName"
                                   value="<%= Product.productName %>" required />
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Full description</label>
                                <textarea placeholder="Type here" class="form-control" rows="4" id="" name="description"
                                    required><%= Product.description %></textarea>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Regular price</label>
                                        <input placeholder="$" type="number" class="form-control" name="mrp"
                                               value="<%= Product.mrp %>" required />
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Selling price</label>
                                        <input placeholder="$" type="number" class="form-control" name="srp"
                                        value="<%= Product.srp %>" required />
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Quantity</label>
                                        <input type="number" class="form-control" name="qty"
                                        value="<%= Product.qty %>" required />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div> <!-- card end// -->

                    <div class="card mb-4 col-md-6">
                        <div class="card-header">
                            <h4>Organisation</h4>
                        </div>

                        <div class=" mb-3">
                            <label class="form-label">Category</label>
                            <select class="form-select" name="category">
                                <% Categories.forEach(function(categ){ %>
                                    <% if(Product.cat_id.equals(categ._id)){ %> 
                                        <option value="<%= categ._id %>" selected><%= categ.category %></option>
                                    <% } %> 
                                    <option value="<%= categ._id %>">
                                        <%= categ.category %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div class=" mb-3">
                            <label class="form-label">Sub-category</label>
                            <select class="form-select" name="subcategory">
                                <% Subcategories.forEach(function(subcateg){ %>
                                    <% if(Product.subcat_id.equals(subcateg._id)){ %> 
                                        <option value="<%= subcateg._id %>" selected><%= subcateg.subcategory %></option>
                                    <% } %>
                                    <option value="<%= subcateg._id %>">
                                        <%= subcateg.subcategory %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div class="card-header">
                            <h4>Media</h4>
                        </div>
                        <div class="card-body">
                            <div class="input-upload">
                                <% for(let img in Product.image){ %> 
                                <img src="/images/products/<%= Product.image[img] %> "
                                                class="img-md img-thumbnail" alt="Item" />
                                    <% } %> 
                                <!-- <img src="/admin/imgs/theme/upload.svg" alt="upload image"> -->
                                <input type="file" multiple class="form-control" id="input-5" name="image" 
                                    placeholder="Choose an image" required/>
                            </div>
                        </div>
                    </div> <!-- card end// -->
                    <div>
                        <button class="btn btn-md rounded font-sm hover-up" type="submit">Edit Product</button>
                    </div>
                </form>

            </div>
        </section> <!-- content-main end// -->

        <%- include('../admin/layouts/admin-footer.ejs') %>