<%- include('../admin/layouts/admin-sidebar.ejs') %>
    <%- include('../admin/layouts/admin-navbar.ejs') %>
        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">Users list</h2>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <select class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>User</th>
                                    <th>Email</th>
                                    <th>Mobile</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% Users.forEach(function(user){ %>
                                    <tr>
                                        <td>
                                            <%= index++ %>
                                        </td>
                                        <td>
                                            <%= user.fullname %>
                                        </td>
                                        <td>
                                            <%= user.email %>
                                        </td>
                                        <td>
                                            <%= user.mobile %>
                                        </td>
                                        <td>
                                            <% if(user.blocked){ %>
                                                <span class="badge rounded-pill alert-danger">Blocked</span>
                                                <% } else { %>
                                                    <span class="badge rounded-pill alert-success">Active</span>
                                                    <% } %>
                                        </td>
                                        <td>
                                            <a href="/admin/user-block/<%= user._id %>">
                                                <% if(user.blocked){ %>
                                                    <button
                                                        class="btn btn-sm btn-info rounded font-sm">Unblock</button>
                                                    <!-- <span><i class="bi bi-person-fill-slash"></i></span> -->
                                                    <% } else { %>
                                                        <button
                                                            class="btn btn-sm btn-danger rounded font-sm">Block</button>
                                                        <!-- <span><i class="bi bi-person-fill-check"></i></span> -->
                                                        <% } %>
                                            </a>

                                            <a href="/admin/user-details/<%= user._id %>"
                                                class="btn btn-sm btn-brand rounded font-sm">View details</a>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table> <!-- table-responsive.// -->
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <% if(before){ %>
							<li class="page-item"><a class="page-link" href="/admin/users?page=<%= before.page %>&limit=<%= before.limit %>">&lt;</a></li>
							<li class="page-item"><a class="page-link" href="/admin/users?page=<%= before.page %>&limit=<%= before.limit %>"><%= before.page %></a></li>
						<% } %>
						<% if(current){ %>
							<li class="page-item active"><span class="page-link"><%= current.page %></span></li>
						<% } %>
						<% if(after){ %>
							<li class="page-item"><a class="page-link" href="/admin/users?page=<%= after.page %>&limit=<%= after.limit %>"><%= after.page %></a></li>
							<li class="page-item"><a class="page-link" href="/admin/users?page=<%= after.page %>&limit=<%= after.limit %>">&gt;</a></li>
						<% } %>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
        <%- include('../admin/layouts/admin-footer.ejs') %>
        <%- include('../admin/layouts/admin-script.ejs') %>
        