<%-include('../user/layouts/user-header.ejs')%>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Coupons</h2>
            </div>
        </div>
        <div class="row justify-content-between"> <!-- col.// -->
            <% coupons.forEach(coupon=> { %>
                <% let date=coupon.validity; %>
                    <% let strDate=date.toString().slice(0, 15); %>
                        <% let now=new Date(); %>
                            <% let diffms=date.getTime() - now.getTime(); %>
                                <% let diffDays=diffms/(1000*60*60*24); %>
                                    <% let days=Math.round(diffDays); %>
                                        <div class="col-md-4">
                                            <div class="card text-center" style="width: 24rem; border-radius: 20px;">
                                                <div class="d-flex justify-content-between"
                                                    style="background-color: #f9f2ed; border-radius: 20px;">
                                                    <div class="text-center p-3 ml-4">
                                                        <h2 class="card-title" id="cpnCode<%= coupon._id %>">
                                                            <%= coupon.code %>
                                                        </h2>
                                                        <h6 class="card-text">Valid Upto <br>
                                                            <%= strDate %>
                                                        </h6>
                                                        <p>
                                                            min order value $<%= coupon.minBill %> <br>
                                                                max discount $<%= coupon.maxDiscount %>
                                                        </p>
                                                    </div>
                                                    <div class="text-center pt-3"
                                                        style="background-color: #ffb562; border-radius: 0px 20px 20px 0px; width: 10rem;">
                                                        <h5>Discount</h5>
                                                        <h1>
                                                            <%= coupon.discount %>%
                                                        </h1>
                                                        <% if(days>=0 && !coupon.block){ %>
                                                            <div class="m-2">
                                                                <button type="button" class="btn btn-primary"
                                                                    onclick="Copy('cpnCode<%= coupon._id %>')">Copy</button>
                                                            </div>
                                                            <% } %>

                                                    </div>
                                                </div>
                                                <div class="card-footer">
                                                    <% if(coupon.block){ %>
                                                        <p class="text-danger">Blocked</p>
                                                    <% }else if(days<0){ %>
                                                        <p class="text-danger">Expired</p>
                                                        <% }else if(days==0){ %>
                                                            <p class="text-warning">Expires Today</p>
                                                            <% }else{ %>
                                                                <p>Expire in <%= days %> days</p>
                                                                <% } %>
                                                </div>
                                            </div>
                                        </div>
                                        <% }) %>
        </div> <!-- row.// -->
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        <% if(before){ %>
                        <li><a href="/coupons?page=<%= before.page %>&limit=<%= before.limit %>">&lt;</a></li>
                        <li><a href="/coupons?page=<%= before.page %>&limit=<%= before.limit %>"><%= before.page %></a></li>
                        <% } %>
                        <% if(current){ %>
                        <li class="active"><span><%= current.page %></span></li>
                        <% } %>
                        <% if(after){ %>
                        <li><a href="/coupons?page=<%= after.page %>&limit=<%= after.limit %>"><%= after.page %></a></li>
                        <li><a href="/coupons?page=<%= after.page %>&limit=<%= after.limit %>">&gt;</a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
        <!-- <div class="pagination-area mt-15 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">16</a></li>
                    <li class="page-item"><a class="page-link" href="#"><i
                                class="material-icons md-chevron_right"></i></a></li>
                </ul>
            </nav>
        </div> -->
    </section>

    <%-include('../user/layouts/user-footer.ejs')%>
    <%-include('../user/layouts/user-script.ejs')%>