<%-include('../user/layouts/user-header.ejs') %>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-8 col-md-6 col-lg-4 card o-hidden border-0 shadow-lg my-3">
                <div class="p-3">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 my-3">Welcome Back!</h1>
                    </div>
                    <form action="/signin" class="user" method="post" id="login_form">
                        <div class="form-group row justify-content-center">
                            <div class="col-md-10 input-control">
                                <input type="email" class="form-control form-control-user" id="emailAddress"
                                    name="email" placeholder="Email Address"/>
                                <p class="valid_error text-danger" id="user_err"></p>
                                <% if(login.userErr){ %>
                                    <p class="text-danger"><%= login.userErr %></p>
                                <% } %>
                            </div>
                        </div>
                        <div class="form-group row justify-content-center">
                            <div class="col-md-10 mb-3 mb-sm-0 input-control text-center">
                                <input type="password" class="form-control form-control-user" id="pswd"
                                 name="password" placeholder="Password" />
                                <p class="valid_error text-danger" id="pswd_err"></p>
                                <% if(login.passErr){ %>
                                    <p class="text-danger"><%= login.passErr %></p>
                                <% } %>
                            </div>
                        </div>
                        <div class="form-group row justify-content-center">

                            <button type="submit" class="btn btn-primary btn-user px-5">
                                Login
                            </button>
                        </div>
                    </form>
                    <div class="text-center mt-3 mb-2">
                        <a class="small" href="/forgot">Forgot Password?</a>
                    </div>
                    <div class="text-center">
                        <p class="small">Don't have an account? <a href="/signup">Signup
                                here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<%-include('../user/layouts/user-footer.ejs') %>
    <script src="/javascripts/validations/login_val.js"></script>
    <%-include('../user/layouts/user-script.ejs') %>