<%-include('../user/layouts/user-header.ejs')%>

	<div class="container-fluid">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<h1 class="mb-0 bread">My Orders</h1>
			</div>
		</div>
		<% if(orders){ %>
			<section class="ftco-section ftco-cart">
				<div class="container">
					<div class="row">
						<div class="col-md-12 ftco-animate">
							<div class="cart-list">
								<table class="table">
									<thead class="thead-primary">
										<tr class="text-center">
											<th>Product</th>
											<th>Product name</th>
											<th>Price</th>
											<th>Quantity</th>
											<th>Total</th>
										</tr>
									</thead>
									<tbody>
										<% orders.forEach((order)=>{ %>
										<% order.orderItems.forEach((item)=>{ %>
											<tr class="text-center">
												<td class="image-prod">
													<a href="/product/<%= item.product._id%>">
													<div class="img"
														style="background-image:url('/images/products/<%= item.product.image[0] %>');">
													</div>
													</a>
												</td>

												<td class="product-name">
													<a href="/product/<%= item.product._id %>">
													<h3>
														<%= item.product.productName %>
													</h3>
													</a>
												</td>
												<td class="price">
													$<%= item.price %>
												</td>

												<td class="quantity">
													<%= item.qty %>
												</td>

												<td class="total">$<%= item.total %></td>
											</tr>
											<% }) %>
												<tr>
													<td class="total"></td>
													<td><a href="/order-details/<%= order._id %>" class="btn btn-primary">Details</a></td>
													<td><button class="btn btn-primary" onclick="cancelOrder('<%= order._id %>')">Cancel</button></td>
													<td id="orderStatus"><% if(order.deliveryStatus.cancelled.state){ %>
															Cancelled
														<% }else if(order.deliveryStatus.delivered.state){ %>
															Delivered
														<% }else if(order.deliveryStatus.out_for_delivery.state){ %>
															Out for Delivery
														<% }else if(order.deliveryStatus.shipped.state){ %>
															Shipped
														<% }else if(order.deliveryStatus.ordered.state){ %>
															Ordered
														<% } %>
													</td>
													<td class="price">Subtotal : $<%= order.subtotal %></td>
												</tr>
										<% }) %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					
				</div>
			</section>
			<% } else { %>
				<section class="vh-100">
					<div></div>
					<div class="row justify-content-center">
						<h2>No Orders!!!</h2>
					</div>
					<div class="row justify-content-center">
						<p><a href="/shop" class="btn btn-primary">Shop Now</a></p>
					</div>
				</section>
			<% } %>
	</div>


	<%-include('../user/layouts/user-footer.ejs') %>

		<%-include('../user/layouts/user-script.ejs')%>