<%-include('../user/layouts/user-header.ejs')%>

	<div class="container-fluid">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<h1 class="mb-0 bread">My Orders</h1>
			</div>
		</div>
		<% if(orders){ %>
			<section class="ftco-section ftco-cart">
				<div class="container">
					<div class="row">
						<div class="col-md-12 ftco-animate">
							<div class="cart-list">
								<table class="table">
									<thead class="thead-primary">
										<tr class="text-center">
											<th>Date</th>
											<th>Products</th>
											<th>Subtotal</th>
											<th>Status</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<% orders.forEach((order)=>{ %>
											<tr class="text-center">
												<td class="image-prod">
													<% let isoDate = new Date(order.orderDate); %>
													<% let date = `${isoDate.getDate()}-${isoDate.getMonth()+1}-${isoDate.getFullYear()}`; %>
													<%= date %>
												</td>
												<td class="product-name">
												<% order.orderItems.forEach((item)=>{ %>

													<a href="/product/<%= item.product._id %>">
													<h3>
														<%= item.product.productName %>
													</h3>
													</a><br>
												<% }) %>
												</td>
												<td class="total">$<%= order.subtotal %></td>
												<td id="orderStatus<%= order._id %>">
												<% if(order.deliveryStatus.delivered.state){ %>
													Delivered
												<% }else if(order.deliveryStatus.cancelled.state){ %>
													Cancelled
												<% }else if(order.deliveryStatus.out_for_delivery.state){ %>
													Out for Delivery
												<% }else if(order.deliveryStatus.shipped.state){ %>
													Shipped
												<% }else if(order.deliveryStatus.ordered.state){ %>
													Ordered
												<% } %>
											</td>
											<td><a href="/order-details/<%= order._id %>" class="btn btn-primary">Details</a>
											<br>
											<% if((order.deliveryStatus.delivered.state) != true){ %>
											<button class="btn btn-primary" onclick="cancelOrder('<%= order._id %>')">Cancel</button>
											<% } %>
											</td>
											</tr>
										<% }) %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</section>
			<% } else { %>
				<section class="vh-100">
					<div></div>
					<div class="row justify-content-center">
						<h2>No Orders!!!</h2>
					</div>
					<div class="row justify-content-center">
						<p><a href="/shop" class="btn btn-primary">Shop Now</a></p>
					</div>
				</section>
			<% } %>
	</div>


	<%-include('../user/layouts/user-footer.ejs') %>

		<%-include('../user/layouts/user-script.ejs')%>