<%-include('../user/layouts/user-header.ejs') %>

        <section class="content-main">
            <div class="content-header">
                <a href="javascript:history.back()"><i class="material-icons md-arrow_back"></i> Go back </a>
            </div>
            <div class="card mb-4">
                <div class="card-header bg-primary" style="height:150px">
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl col-lg flex-grow-0" style="flex-basis:230px">
                            <div class="img-thumbnail shadow w-100 bg-white position-relative text-center" style="height:190px; width:200px; margin-top:-120px">
                                <img src="" class="center-xy img-fluid" alt="Profile Picture">
                            </div>
                        </div> <!--  col.// -->
                        <div class="col-xl col-lg">
                            <h3> <%= user.fullname  %>  </h3>
                        </div> <!--  col.// -->
                        <div class="col-xl-4 text-md-end">
                            <a href="/reset-password" class="btn btn-sm btn-info rounded font-sm mt-15">Change Password</a>
                        </div> <!--  col.// -->
                    </div> <!-- card-body.// -->
                    <hr class="my-4">
                    <div class="row g-4">
                        <div class="col-xl-3">
                            <h6><Details></Details></h6>
                            <p>Email:<b><%= user.email %></b></p>
                            <p>Mobile:<b><%= user.mobile %></b></p>
                        </div> <!--  col.// -->
                        <div class="col-xl-9">
                            <h6>Addresses</h6>
                            <div class="cart-detail cart-total p-3 overflow-auto"
							style="max-width: 800px; max-height: 300px;">
								<% user.addresses.forEach((addr)=>{ %>
									<div class="row border-bottom p-3">
										<div class="col-sm-9">
											<p>
												<b>
													<%= addr.fullname %>,<%= addr.company %>
												</b><br>
												<b>
													<%= addr.mobile %>,<%= addr.email %>
												</b><br>
												<%= addr.address %>,<%= addr.zip %> <br>
												<%= addr.town %>,<%= addr.state %>,<%= addr.country %> <br>
											</p>
										</div>
										<div class="col-sm-3 d-flex justify-content-around align-items-center">
											<a href="/address-edit/<%= addr._id %>">
												<i class="bi bi-pencil-square" style="color: #0d6efd; font-size: large;"
													title="edit"></i>
											</a>
											<a href="/address-delete/<%= addr._id %>">
												<i class="bi bi-trash-fill" style="color: #cf0000; font-size: large;"
													title="delete"></i>
											</a>
										</div>
									</div>
								<% }) %>
							</div>
                            
						<p class="ml-5"><a href="/address-add" class="btn btn-primary py-3 px-4 ">Add new Address</a></p>
                        </div> <!--  col.// -->
                        
                    </div> <!--  row.// -->
                </div> <!--  card-body.// -->
            </div> <!--  card.// -->
    
        </section> <!-- content-main end// -->
	<%-include('../user/layouts/user-footer.ejs') %>
        
        <%-include('../user/layouts/user-script.ejs') %>