<%- include('../user/layouts/user-header.ejs') %>

	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<h1 class="mb-0 bread">Products</h1>
			</div>
		</div>
	</div>

	<section class="ftco-section">
		
		<div class="container-fluid">
			<header class="card card-body mb-4">
				<div class="row gx-3">
					<div class="col-lg-4 col-md-6 me-auto">
						<input type="text" placeholder="Search..." class="form-control">
					</div>
					<div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
						<select class="form-select" name="category">
							<option selected>Choose Category</option>
							<% Categories.forEach(function(categ){ %>
								<option value="<%= categ._id %> ">
									<%= categ.category %>
								</option>
								<% }) %>
						</select>
					</div>
					<div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
						<select class="form-select" name="subcategory">
							<option value="" selected>Choose Subcategory</option>
							<% Subcategories.forEach(function(subcateg){ %>
								<option value="<%= subcateg._id %> ">
									<%= subcateg.subcategory %>
								</option>
								<% }) %>
						</select>
					</div>
				</div>
			</header>
			<div class="row">
				<% Products.forEach((product)=>{ %>

				
				<div class="col-sm-6 col-md-4 col-lg-3 ftco-animate">
					<div class="product" style="height: 350px;">
						<a href="/product/<%= product._id %>" class="img-prod"><img class="img-fluid" src="/images/products/<%= product.image[0] %>"
							style="width: 100%; height: 250px;  object-fit: contain;" alt="Colorlib Template">
								<% if(product.discount){ %> 
									<span class="status"><%= product.discount %>% Off</span>
									<% } %>
							<div class="overlay"></div>
						</a>
						<div class="text py-3 pb-4 px-3 text-center">
							<h3><a href="/product/<%= product._id %>"><%= product.productName %></a></h3>
							<div class="d-flex">
								<div class="pricing">
									<p class="price"><span class="mr-2 price-dc"><%= product.mrp %></span><span
											class="price-sale"><%= product.srp %> </span></p>
								</div>
							</div>
							<div class="bottom-area d-flex px-3">
								<div class="m-auto d-flex">
									<a href="/product/<%= product._id %>"
										class="add-to-cart d-flex justify-content-center align-items-center">
										<span><i class="ion-ios-menu"></i></span>
									</a>
									<a href="/add-wishlist/<%= product._id %>" 
										class="heart d-flex justify-content-center align-items-center ">
										<span><i class="ion-ios-heart"></i></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<% }) %> 
			</div>
			<div class="row mt-5">
				<div class="col text-center">
					<div class="block-27">
						<ul>
							<li><a href="#">&lt;</a></li>
							<li class="active"><span>1</span></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">&gt;</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<%- include('../user/layouts/user-script.ejs') %>